In [7]:
import numpy as np
import pandas as pd
data_path = '../data/theorem'

In [17]:
train_df = pd.read_csv(f'{data_path}/train.csv', na_values='?',header=None)
test_df = pd.read_csv(f'{data_path}/test.csv', na_values='?',header=None)
val_df = pd.read_csv(f'{data_path}/validation.csv', na_values='?',header=None)
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,1.4895,0.81688,2.1168,1.7836,1.5346,-0.30543,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.48278,1.4630,0.27015,-1.5559,-1,-1,-1,-1,-1,1
1,1.4895,0.81688,2.1168,1.7895,1.5403,-0.31850,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.48278,1.4801,0.21361,-1.5559,1,-1,-1,-1,-1,-1
2,1.4895,0.81688,2.1168,1.7836,1.5346,-0.30543,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.48278,1.4744,0.23245,-1.5559,-1,-1,-1,-1,-1,1
3,1.4895,0.81688,2.1168,1.7836,1.5346,-0.30543,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.48278,1.4401,0.34553,-1.5559,-1,-1,-1,-1,-1,1
4,1.4895,0.81688,2.1168,1.7836,1.5346,-0.30543,-1.2477,-0.14537,-0.59356,-0.23316,...,-0.48278,1.4458,0.32669,-1.5559,-1,-1,-1,-1,-1,1

In [29]:
train_label_df = train_df[[51,52,53,54,55,56]]
val_label_df = val_df[[51,52,53,54,55,56]]
test_label_df = test_df[[51,52,53,54,55,56]]

In [30]:
train_label_df['label'] = train_label_df.eq(1).idxmax(axis=1) - 51
val_label_df['label'] = val_label_df.eq(1).idxmax(axis=1) - 51
test_label_df['label'] = test_label_df.eq(1).idxmax(axis=1) - 51

/tmp/ipykernel_151042/2173094407.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_label_df['label'] = train_label_df.eq(1).idxmax(axis=1) - 51
/tmp/ipykernel_151042/2173094407.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val_label_df['label'] = val_label_df.eq(1).idxmax(axis=1) - 51
/tmp/ipykernel_151042/2173094407.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_label_df['label'] = test_label_df.eq(1).idxmax(axis=1) - 51

In [27]:
train_label_df.head()

   51  52  53  54  55  56  label
0  -1  -1  -1  -1  -1   1      5
1   1  -1  -1  -1  -1  -1      0
2  -1  -1  -1  -1  -1   1      5
3  -1  -1  -1  -1  -1   1      5
4  -1  -1  -1  -1  -1   1      5

In [31]:
train_data = train_df.values
val_data = val_df.values
test_data = test_df.values

In [37]:
X_train, y_train = train_data[:,:51], train_label_df['label'].values
X_val, y_val = val_data[:,:51], val_label_df['label'].values
X_test, y_test = test_data[:,:51], test_label_df['label'].values

In [38]:
X_train.shape, X_val.shape, X_test.shape

((3059, 51), (1529, 51), (1530, 51))

In [39]:
y_train.shape, y_val.shape, y_test.shape

((3059,), (1529,), (1530,))

In [40]:
np.save( f'{data_path}/X_train', X_train)
np.save( f'{data_path}/X_val', X_val)
np.save( f'{data_path}/X_test', X_test)
np.save( f'{data_path}/y_train', y_train)
np.save( f'{data_path}/y_val', y_val)
np.save( f'{data_path}/y_test', y_test)

In [4]:
X_train.shape, X_val.shape, X_test.shape

((3059, 51), (1529, 51), (1530, 51))

In [41]:
np.unique(y_train)

array([0, 1, 2, 3, 4, 5])

In [42]:
from sklearn.metrics import accuracy_score as acc
from sklearn.linear_model import LogisticRegression

from sklearn import metrics
acc = []
for rand_seed in [0,1,2,3,4]:
    np.random.seed(rand_seed)
    lr = LogisticRegression(max_iter=3000)
    lr.fit(X_train,y_train)
    predicted_labels = lr.predict(X_test)
    acc.append(metrics.accuracy_score(y_test, predicted_labels))
acc = np.stack(acc)
print(acc.mean(), acc.std())

0.45294117647058824 0.0

In [2]:
import numpy as np
import pandas as pd
data_path = '../data/'

In [3]:
X_train=np.load( f'{data_path}/X_train.npy')
X_val=np.load( f'{data_path}/X_val.npy')
X_test=np.load( f'{data_path}/X_test.npy')
y_train=np.load( f'{data_path}/y_train.npy')
y_val=np.load( f'{data_path}/y_val.npy')
y_test=np.load( f'{data_path}/y_test.npy')

In [5]:
from sklearn.metrics import accuracy_score as acc
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=200, metric='cosine')
knn.fit(X_train, y_train)
accuracy = knn.score(X_test, y_test)
accuracy

0.4326797385620915

In [6]:
knn = KNeighborsClassifier(n_neighbors=200)
knn.fit(X_train, y_train)
accuracy = knn.score(X_test, y_test)
accuracy

0.44052287581699345